@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
h1 {
	color: #AAACE6;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;
}
p{
	color: rgb(118, 122, 144);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	
}
ul{
	color: rgb(118, 122, 144);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	
}
img {
	width: 800px;
	height: auto;
}

h2{color: #AAACE6;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 28px;	
}